<% title(@season.description, "Seasons")  %>
<h2><%= @season.description %></h2>
<p>
<%= @season.current? ? 'current' : 'past' %>
</p>
<p>
  Teams: <%= @season.teams.map(&:name).join(', ') %>
</p>

<%= link_to "Edit Season", edit_season_path(@season) %>
<%= link_to "Delete Season", season_path(@season), method: :delete, data: { confirm: "Are you sure you want to delete this season?" } %>