<div id='player'>
  <h2><%= @player.first_name %> <%= @player.surname %></h2>
  <%= @player.dob %>
  <%= link_to 'Edit Player', [:edit, @team, @player] %>
  <%= link_to 'Delete Player', [@team, @player], method: :delete, data: { confirm: 'Are you sure you want to delete this ticket?' } %>
</div>
